@use './reset';
@use './color' as color;


html {
    scroll-padding-top: 116px; 
}

body {
    width: 100%;
    margin: 0 auto;
    color: color.$white;
    font-family: 'Montserrat', sans-serif;
    // background-color: color.$bg-color;
    background-color: black;
}

.shadow-bg {
    background-color: rgba(0, 0, 0, 0.8);
} 


// HEADER
// LOGO
.navbar-brand {
    width: 110px;
    height: 100px;
    align-items: center;
    .logo-img {
        width: 110px;
        height: 100px;
    }
}

// NAVIGATION
.navbar {
    width: 100%;
    z-index: 5;
    transition: background-color .3s;
    // border: 2px solid red;
}

.navbar-brand {
    text-transform: uppercase;
    color: color.$white;
}

.fa-bars {
    color: color.$white;
}

.navbar-nav {
    .nav-link {
        text-transform: uppercase;
        color: color.$white;
    }
    .nav-link:focus,
    .nav-link:hover,
    .nav-link.active {
        color: color.$main-color;
    }
    .nav-link-help {
        font-weight: 700;
        color: color.$main-color;
    }
}

.navbar-toggler {
    padding: 10px 15px;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}
